<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Connection" type="System.Configuration.NameValueSectionHandler" />
    <section name="MailInformation" type="System.Configuration.NameValueSectionHandler" />
    <section name="PBICollectionSection" type="TFS_ServerOperation.CustomConfigSetup.PbisConfigSection, TFS_ServerOperation" />
  </configSections>
  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\Users\wowla\Desktop\TFS_ServerOperation.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <Connection>
    <add key="TfsCollection" value="http://localhost:8080/tfs/SzakdolgozatCollection" />
    <add key="TeamProjectName" value="Szakdolgozat_Project" />
    <add key="AreaPath" value="Szakdolgozat_Project" />
    <add key="Iteration" value="Szakdolgozat_Project" />
  </Connection>
  <MailInformation>
    <add key="mail_address" value="wow.laszlo@gmail.com" />
    <add key="smtp_host" value="smtp.gmail.com" />
    <add key="port" value="587" />
  </MailInformation>
  <PBICollectionSection>
    <PBIS>
      <PBI Title="Month Regular Meeting - (Engineers)" ParentID="68" AssignedTo="Nemes László">
        <Tasks>
          <add Title="Laci" AssingTo="Nemes László" Effort="12" />
        </Tasks>
      </PBI>
    </PBIS>
  </PBICollectionSection>
</configuration>